{% load static %}
<header id="header" class="header fixed-top bg-">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    
    <a href="/" class="logo d-flex align-items-center mx-3">
      <img class="mx-1" src="{% static 'icons/icon.jpg' %}" alt="logo"/>
      <img style="max-width: 120px;" src="{% static 'icons/logo-white.png' %}" alt="logo"/>
      <span class="d-none">{{site_name}}</span>
    </a>
    
    <nav id="navbar" class="navbar">
      <ul>
          <li><a class="nav-link" href="{% url 'analysis-index' %}">Get Verified</a></li>
          <li class="dropdown"><a href="#"><span>Traning</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'dashboard-aptitude-test' %}">Aptitude Traning</a></li>
              <li><a href="{% url 'dashboard-soft-skills-test' %}">Soft Skill Traning</a></li>
            </ul>
          </li>
          <li><a class="nav-link" href="{% url 'dashboard-life-skills' %}">Life Skills</a></li>
          <li><a class="nav-link" href="{% url 'dashboard-about' %}">About</a></li>
          <li><a class="nav-link" href="{% url 'utils-contact-us' %}">Contact</a></li>
          {% if request.user.is_authenticated %}
            {% include 'base/_details/profile_on_login.html' %}
            <li><a href="{% url 'dashboard-get-premium' %}" class="header_lr_btn_reg btn btn-default text-light m-0 p-0 border border-1 border-light-subtle" style="border-radius: 50px!important;"><i class="fa-solid fa-circle-dollar-to-slot fa-2xl"></i>&nbsp;Get Premium</a></li>
          {% else %}
            <li><a href="{% url 'accounts-login' %}" class="header_lr_btn_login btn btn-outline-light">Login</a></li>
            <li><a href="{% url 'accounts-register' %}" class="header_lr_btn_reg btn btn-light text-default">SignUp</a></li>
          {% endif %}
        </ul>
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>