{% extends 'ctm_admin/base/index.html' %}

{% block title %}
Life Skills | {{site_name}} Admin
{% endblock title %}

{% block content %}
<h2>Life Skills Details</h2>
<div class="row">
  <div class="col-md-4">
    <div class="card mb-1">
      <div class="card-header py-2">
        <h5>Video Preview</h5>
      </div>
      <div class="card-body pt-1">
        {% if video.url %}
        <iframe style="width:100%;" src="{{video.url}}" class="embed-responsive-item" id="videoIframe" allowfullscreen></iframe>
        {% else %}
        <div class="card-img-top"
          style="height: 200px; background-color: #eee; display: flex; align-items: center; justify-content: center;">
          No Video
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card">
      <div class="card-header py-2">
        <h5>Thumbnail Preview</h5>
      </div>
      <div class="card-body pt-1">
        {% if video.thumbnail %}
        <img src="{{ video.thumbnail }}" class="img-fluid" alt="{{ video.title }}">
        {% else %}
        <div class="card-img-top"
          style="height: 200px; background-color: #eee; display: flex; align-items: center; justify-content: center;">
          No Image
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header py-2">
        <h4 class="text-capitalize">{{ video.title }}</h4>
      </div>
      <div class="card-body pt-1">
        <p><span class="fw-bold">Title:</span> {{ video.title }}</p>
        <p><span class="fw-bold">Thumbnail Image URL:</span> <a href="{{ video.thumbnail }}" target="_blank">{{ video.thumbnail }}</a></p>
        <p><span class="fw-bold">Video URL:</span> <a href="{{ video.url }}" target="_blank">{{ video.url }}</a></p>
        <p><span class="fw-bold">By User:</span> {{video.by_user}}</p>
        <p><span class="fw-bold">Provider:</span> {{video.provider}}</p>
        <p><span class="fw-bold">Author:</span> {{video.author}}</p>
        <p class="card-text m-0"><span class="fw-bold">Last Updated:</span> {{ video.last_updated }}</p>
        <p class="card-text m-0"><span class="fw-bold">Created at:</span> {{ video.created_at }}</p>
      </div>
      <div class="card-footer">
        <a href="{% url 'ctm_admin-life-skills_edit' video.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'ctm_admin-life-skills_delete' video.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Video?')">Delete</a>
        <a href="{% url 'ctm_admin-life-skills_list' %}" class="btn btn-secondary my-2"><i class="fa-solid fa-arrow-left"></i> Back</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}