{% extends 'ctm_admin/base/index.html' %}

{% block title %}
Users Details | {{site_name}} Admin
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header py-2">
        <h2>User Detail</h2>
    </div>
    <div class="card-body pt-1">
        <p><strong>Email:</strong> {{ users.user.email }}</p>
        <p><strong>Full Name:</strong> {{ users.user.full_name }}</p>
        <p class="card-text m-0"><span class="fw-bold">Last Logined:</span> {{ users.user.last_login }}</p>
        <p class="card-text m-0"><span class="fw-bold">Created at:</span> {{ users.user.date_joined }}</p>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="{% url 'ctm_admin-staff-users-edit' users.id %}">Edit</a>
        <a class="btn btn-warning" href="{% url 'ctm_admin-staff-users-change_password' users.id %}">Change Password</a>
        <a class="btn btn-danger" href="{% url 'ctm_admin-staff-users-delete' users.id %}">Delete</a>
        <a class="btn btn-secondary" href="{% url 'ctm_admin-all-users' %}"><i class="fa-solid fa-arrow-left"></i> Back to List</a>
    </div>
</div>
{% endblock content %}